@use "../../styles/global" as *;

.aboutMe-columns {
  // text-align: left;

  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &_column {
    @include tablet {
      text-align: center;
      width: 50%;
    }
  }
}
