.aboutMe-columns {
  text-align: left;
}

@media screen and (min-width: 481px) {
  .aboutMe-columns {
    display: flex;
    flex-direction: row;
  }
  .aboutMe-columns_column {
    text-align: center;
    width: 50%;
  }
}
