.skill-category {
  display: flex;
  flex-direction: column;
  background-color: #d4a373;
  /* background-color: #dda15e; */
  background-color: #faedcd;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-top: 10px;
  /* border: solid 1px #bc6c25; */
  border: solid 1px #dda15e;
  box-shadow: 10px 5px 5px #dda15e;
}
.skill-category-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.skills-icon {
  width: 30px;
  height: 30px;
  padding-bottom: 10px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) {
  .skill-category {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
