.main-content {
  /* background-color: #fefae0; */
  background-color: #fdf8e1;
}

.main-content_section {
  padding: 20px;
}

.main-content_section:nth-child(1) {
  /* background-color: #fefae0; */
  /* border-bottom: solid 2px #606c38; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.main-content_section:nth-child(2) {
  /* background: #faedcd; */
  /* border-top: solid 2px #606c38; */
  border-top: solid 2px #ffd131;
  margin-top: 30px;
  padding-top: 30px;
}

.main-content_section:nth-child(3) {
  /* background-color: #fefae0; */
  /* border-top: solid 2px #606c38; */
  border-top: solid 2px #ffd131;
  margin-top: 30px;
  padding-top: 30px;
}

@media screen and (min-width: 481px) {
  .page-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .main-content {
    width: 70%;
    height: auto;
    scroll-behavior: smooth;
    overflow: auto;
    padding: 20px 40px;
    /* scroll-snap-type: y mandatory; */
  }

  .main-content_section {
    width: auto;
    /* background-color: #fefae0; */
    background-color: #fdf8e1;
    /* height: 100vh; */
    /* background-size: cover; */
    /* scroll-snap-align: start; */
  }
}
