.main-content_section {
  padding: 20px;
}

.main-content_section:nth-child(1) {
  background-color: #fefae0;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.main-content_section:nth-child(2) {
  background: #faedcd;
}

.main-content_section:nth-child(3) {
  background-color: #fefae0;
}

@media screen and (min-width: 481px) {
  .page-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }

  .main-content {
    position: relative;
    width: 70%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .main-content_section {
    width: calc(100 - 40);
    height: 100vh;
    background-size: cover;
    scroll-snap-align: start;
  }
}
