@use "../../styles/global" as *;

.main-content {
  background-color: $isabellene;
  padding: 0 20px;

  

  @include tablet {
    width: 70%;
    height: auto;
    scroll-behavior: smooth;
    overflow: auto;
    padding: 20px 40px;
    /* scroll-snap-type: y mandatory; */
  }

  &_section:nth-child(1) {
    padding: 30px 20px 0;
  }

  &_section:nth-child(2) {
    border-top: solid 2px $mountbatten-pink;
    margin-top: 30px;
    padding: 30px 20px 0;
  }

  &_section:nth-child(3) {
    border-top: solid 2px $mountbatten-pink;
    margin-top: 30px;
    padding: 30px 20px 0;
  }
}

.page-layout {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
  }
}

section {
  width: auto;
}
